<div class="header">
<nav class="nav">
  <li>About</li>
  <li>Work</li>
  <li>Team</li>
  <li>Contact</li>
</nav>
<div class="container">
  
</div>
</div>

<div class="jumbotron">
<div class="container">  
  <div class="main">
    <h1>Holiday</h1>
    <a href="#" class="btn-default">Get Started</a>
    

  </div>
</div>
</div>

<div class="supporting">
<div class="container">
  <div class="col">
    <img src="https://www.flaticon.com/svg/static/icons/svg/489/489848.svg" class="img">
    <h2>Book</h2>
    <p>Find the days that perfectly fit your schedule.</p>
    <a class="btn-default" href="#">Learn more</a>
  </div>
  <div class="col">
    <img src="https://www.flaticon.com/svg/static/icons/svg/1085/1085493.svg" class="img">
    <h2>Fly</h2>
    <p>Use the latest technology to find the cheapest flights</p>
    <a class="btn-default" href="#">Learn more</a>
  </div>
  <div class="col">
    <img src="https://www.flaticon.com/svg/static/icons/svg/1086/1086426.svg" class="img">
    <h2>Enjoy</h2>
    <p>Take some time to relax, you deserve it!</p>
    <a class="btn-default" href="#">Learn more</a>
  </div>
</div>
<div class="clearfix"></div>
</div>

<div class="footer">
<div class="container">
  <p>&copy; Holiday 2015</p>
</div>
</div>